# Python
__pycache__/
*.pyc
*.egg-info/
dist/
build/

# Virtual environments
.venv/
venv/

# IDE
.idea/
.vscode/

# OS
.DS_Store

# Spark
spark-warehouse/
derby.log
metastore_db/

# Environment files
.env